*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  cursor: default;
  background-color: rgb(248, 252, 9)
}
.container{
  text-align: center;
  margin-top: 5%;
}
.title{
  margin: 30px;
}
.search{
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-field{
  width: 20rem;
  height: 2rem;
  padding: 5px;
  border: 2px black solid;
}
.btn{
  border: none;
  background-color: aqua;
  width: 7rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
}
.search-button{
  border: 2px black solid;
}
.details{
  text-align: center;
}
.detail{
  padding: 5px;
  margin: 3px;
}
img{
  width: 110px;
}
.imgBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clickable{
  cursor: pointer;
  justify-items: center;
  align-items: center;
  border: 2px solid orange;
  border-radius: 9999px;
}
.list{
  padding-left: 10%;
  text-align: center;
}
li{
  list-style: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-top:5%;
  margin-bottom: 5%;
  background-color : rgba(252, 195, 9, 0.4);
  border-radius: 20px;
}
.collection-item{
  display:flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color : rgb(251, 255, 0);
  border-radius: 10px;
}
.list-title{
  padding: 15px;
}
.list-item{
  width: 20rem;
  border: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.list-item:nth-child(even){
  background-color: rgba(252, 195, 9, 0.4);
}
.pokeImg{
  width: 75px;
}