*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 20px;
  cursor: default;
  background-color: rgb(248, 252, 9)
}
.container{
  text-align: center;
  margin-top: 5%;
}
.title{
  margin: 30px;
}
.search{
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-field{
  width: 20rem;
  height: 2rem;
  padding: 5px;
  border: 2px black solid;
}
.btn{
  border: none;
  background-color: aqua;
  width: 7rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
}
.search-button{
  border: 2px black solid;
}
.details{
  text-align: center;
}
.detail{
  padding: 5px;
  margin: 3px;
}
img{
  width: 110px;
}
.imgBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clickable{
  cursor: pointer;
  justify-items: center;
  align-items: center;
  border: 2px solid orange;
  border-radius: 9999px;
}
.list{
  /* width: 80%; */
  padding-left: 10%;
  text-align: center;
}
li{
  list-style: none;
  padding: 5px;
}
.collection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  margin-top:5%;
  margin-bottom: 5%;
  background-color : rgba(252, 195, 9, 0.4);
  border-radius: 20px;
}
.collection-item{
  display:flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color : rgb(251, 255, 0);
  border-radius: 10px;
}
.list-title{
  padding: 15px;
}
.list-item{
  width: 20rem;
  border: none;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.list-item:nth-child(even){
  background-color: rgba(252, 195, 9, 0.4);
}


.fundo{
  animation: scales 3s alternate  infinite;
  transform-origin: center;
}
.pao-baixo{
   animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
  transform-origin: center;
}
.pao-cima{
   animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
  transform-origin: center;
}
.olhos{animation: olhos   2s  alternate  infinite;
   transform-origin: center;
}

.left-sparks{animation: left-sparks   4s  alternate  infinite;
      transform-origin: 150px 156px;
}

.right-sparks{animation: left-sparks   4s  alternate  infinite;
      transform-origin: 310px 150px;
}

.olhos{animation: olhos   2s  alternate  infinite;
   transform-origin: center;
}
@keyframes scales{
  from { transform: scale(0.98)}
  to{ transform: scale(1)}
}

@keyframes rotatepao{
  0% { transform:  rotate(0deg)}
  50% , 60%{ transform:  rotate(-20deg)}
  100%{  transform:  rotate(0deg) }
 
}

@keyframes olhos{
  0%{
    transform: rotateX(0deg);
  }
   100%{
    transform: rotateX(30deg);
  }
}

@keyframes left-sparks{
  0%{
    opacity: 0; 
  }
  
}


.main{
  
  min-height: 600px;
  margin: 0px auto;
  width: auto;
  max-width: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 4s   alternate infinite;
}

@keyframes dash{
   0%, 30%{
     fill: 4B4B62;
    stroke-dashoffset:   0;
  }
   80%,100%{
     fill: transparent;
    stroke-dashoffset:  -200;
  }
   
  
}